.about {
    background: #ffffff;
    height: 100%;
  }

  .about h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: rgb(1, 1, 1);
    font-size: 2rem;
  }

  .myself {

    margin: 0;
    padding-top: 95px;
    text-align: center;
  }
  
  